# dependencies
node_modules

# production builds
dist
build

# environment files
.env
.env.local

# OS files
.DS_Store

# Vite / cache
.vite

# Server static build (generated)
server/public

# Archives
*.tar.gz
.local

